$black: #000000;
$black-primary: #262626;
$black-secondary: #424242;
$black-tertiary: #636363;

$white: #ffffff;
$white-text-color: #f1f1f1;

$orange-primary: #ff7900;
$orange-secondary: #ff923b;
$orange-primary: #ffaa6c;
